.main {
  background-color: #0F0F0F;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 124px;
  padding: 20px;
}

.headerMain {
  color: white;
  margin-bottom: 20px;
  font-weight: 200;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerMain h1 {
  margin: 0;
  font-weight: 250; 
  font-size: 40px;
}

.headerMain h2 {
  margin: 0;
  font-weight: 150;
  font-size: 23px;
}

.buttonEdit {
  margin-bottom: 30px;
}

.icon {
  width: 135px; 
  height: 135px;
  color: currentColor;
  margin-top: 10px; 
  font-size: small;
  margin-top: 25px;
  margin-bottom: 15px;
}

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  text-decoration: none;
  row-gap: 28px;
}

.linkButton {
  color: white;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  background: none;
  border: none;
  padding: 20px;
  text-align: center;
  font-size: 22px;
}

.linkButton:hover,
.linkButton:focus {
  text-decoration: none; 
  text-decoration-color: transparent;
}

@media (max-width: 600px) {
  .buttonContainer {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
  }

  .buttonEdit {
    margin-bottom: 30px;
  }
}

@media (max-width: 400px) {
  .buttonContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .linkButton {
    font-size: 17px;
  }
}
